.DetailContainer {
  margin: 2em auto;
  max-width: 1024px;
  border: 1px solid;
  padding: 0 1em 0 1em;
  border-color: black;
  border-collapse: collapse;
  border-radius: 1%;
  background-color: white;
}

.ReviewNode {
  border-top: 1px solid;
  border-color: black;
  border-collapse: collapse;
}

.DetailContainer p {
  margin-left: 1em;
}

.DetailImage {
  position: relative;
  padding-top: 1em;
  padding-left: 1em;
  float: right;
  clear: right;
}

.priceBase {
  display: block;
  position: absolute;
  top: 30%;
  left: -7%;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: rgb(220, 80, 130);
  background-color: rgba(220, 80, 130, .8);
  border: 0px solid;
}

.priceBase span {
  display: block;
  position: relative;
  top: 50%;
  text-align: center;
  font-size: .9em;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  transform: translateY(-50%);
}
